
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#upper-input,#lower-input{
    width: 100%;
    height: 2.0rem;
    margin: 1rem;
    border-radius: 4px;
}

#generate-btn{
    padding: .6rem 2rem;
    margin: 2rem;
    border-radius: 3px;
    background-color: orange;
    border-radius: 3px;
    border: 1px solid orangered;
    font-weight: bold;
}
#font-size-input{
    margin: 1rem 0;
    border-radius: 3px;
}
